* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #19a7ff;
  display: flex;
  justify-content: space-between;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.tab {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  border: solid;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom: none;
}

.tab:hover {
    background-color: lightgrey;
}

.Posts{
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 5px;
    background-color: #19a7ff;
    color: white;
    box-shadow: 0 5px 10px 2px black;

}

.postTitle {
  color: black;
  border-bottom: solid;
  margin-bottom: 5px;
}

.poststitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff3334;
  border-top: solid;
}

.searchSection {
  padding: 5px;
  background-color: #19a7ff;
  border: none;
}

.searchtext {
  color: white;
  margin-right: 8px;
}

